@import url("https://fonts.googleapis.com/css?family=Allura|Josefin+Sans:300,400");
* {
  padding: 0;
  margin: 0;
  border: 0; }

body {
  font-size: 15px; }

.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto; }

header {
  background-image: url("../img/Mimo_Caixa bala princesa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh; }

.header-top {
  position: fixed;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  width: 100%;
  z-index: 5;
  font-family: "Josefin Sans", sans-serif;
  transition: .2s all; }

.bg-menu {
  background-color: #d9dcdee6;
  padding: 10px 0; }

#para-contato {
  height: 300px; }

.para-contato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px; }
  .para-contato h3 {
    font-family: "Allura", cursive;
    font-weight: 300;
    font-size: 50px;
    font-size: 5rem;
    color: #dcab2b; }
  .para-contato a {
    text-decoration: none;
    color: #000000;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 10px;
    font-size: 1rem;
    border: 1px solid #dcab2b;
    padding: 20px 100px;
    margin-top: 20px;
    transition: all .2s; }
    .para-contato a:hover {
      color: #ffffff;
      background-color: #dcab2b; }

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .logo img {
    width: 35px;
    height: 50px;
    margin-right: 20px; }
  .logo h1 {
    font-weight: 300; }

.menu nav ul {
  display: flex;
  flex-wrap: wrap; }
  .menu nav ul li {
    list-style: none;
    margin-top: 20px;
    margin-left: 40px;
    text-transform: uppercase;
    font-size: 1vw;
    color: #000; }
    @media (max-width: 1000px) {
      .menu nav ul li {
        font-size: 10px; } }
    @media (min-width: 1500px) {
      .menu nav ul li {
        font-size: 15px; } }
    .menu nav ul li a {
      text-decoration: none;
      color: #000; }

.hero {
  font-family: "Josefin Sans", sans-serif;
  position: relative;
  top: 300px; }
  .hero h2 {
    font-family: "Allura", cursive;
    font-size: 70px;
    font-weight: 300; }
  .hero h3 {
    font-size: 55px;
    font-weight: 400;
    margin-top: 30px; }
  .hero p {
    font-size: 25px;
    font-weight: 400;
    margin-top: 60px;
    margin-left: 50px;
    position: relative; }
    .hero p:before {
      content: "";
      width: 40px;
      height: 4px;
      position: absolute;
      top: 50%;
      left: -50px;
      background-color: #dcab2b;
      transform: translateY(-50%); }
