@import url("https://fonts.googleapis.com/css?family=Allura|Josefin+Sans:300,400");
* {
  padding: 0;
  margin: 0; }

body {
  font-family: "Josefin Sans", sans-serif; }

.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto; }

header {
  background-image: url("../img/Mimo-Caixa-bala-princesa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh; }

.header-top {
  position: fixed;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px 0;
  width: 100%;
  z-index: 5;
  font-family: "Josefin Sans", sans-serif;
  transition: .2s all; }

.bg-menu {
  background-color: #dededed1;
  padding: 10px 0; }

#produtos {
  padding-top: 65px; }
  #produtos h3 {
    text-align: center;
    font-family: "Allura", cursive;
    font-size: 50px;
    font-size: 5rem;
    font-weight: 400;
    color: #dcab2b;
    margin-bottom: 30px; }
    @media (max-width: 500px) {
      #produtos h3 {
        font-size: 30px;
        font-size: 3rem; } }
  #produtos .exemplo-produtos .box-produto-left {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px; }
    @media (max-width: 1105px) {
      #produtos .exemplo-produtos .box-produto-left {
        align-items: center;
        flex-direction: column; } }
    #produtos .exemplo-produtos .box-produto-left img {
      height: 295px; }
      @media (max-width: 1105px) {
        #produtos .exemplo-produtos .box-produto-left img {
          margin: 20px 0; } }
      @media (max-width: 500px) {
        #produtos .exemplo-produtos .box-produto-left img {
          height: 200px; } }
    #produtos .exemplo-produtos .box-produto-left .descricao-produto {
      display: flex;
      flex-direction: column;
      padding: 0 30px;
      max-width: 600px;
      font-size: 12px;
      font-size: 1.2rem; }
      #produtos .exemplo-produtos .box-produto-left .descricao-produto h4 {
        font-size: 20px;
        font-size: 2rem; }
        @media (max-width: 500px) {
          #produtos .exemplo-produtos .box-produto-left .descricao-produto h4 {
            font-size: 30px;
            font-size: 3rem; } }
      #produtos .exemplo-produtos .box-produto-left .descricao-produto p {
        margin-top: 10px;
        color: #909090; }
      #produtos .exemplo-produtos .box-produto-left .descricao-produto ul {
        list-style: none; }
        #produtos .exemplo-produtos .box-produto-left .descricao-produto ul li {
          line-height: 150%; }
          #produtos .exemplo-produtos .box-produto-left .descricao-produto ul li span {
            color: #909090; }
      #produtos .exemplo-produtos .box-produto-left .descricao-produto a {
        align-self: center; }
  #produtos .exemplo-produtos .box-produto-right {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 40px; }
    @media (max-width: 1105px) {
      #produtos .exemplo-produtos .box-produto-right {
        align-items: center;
        flex-direction: column; } }
    #produtos .exemplo-produtos .box-produto-right img {
      height: 295px;
      order: 2; }
      @media (max-width: 1105px) {
        #produtos .exemplo-produtos .box-produto-right img {
          margin: 20px 0;
          order: 0; } }
      @media (max-width: 500px) {
        #produtos .exemplo-produtos .box-produto-right img {
          height: 200px; } }
    #produtos .exemplo-produtos .box-produto-right .descricao-produto {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0 30px;
      max-width: 600px;
      font-size: 12px;
      font-size: 1.2rem; }
      #produtos .exemplo-produtos .box-produto-right .descricao-produto h4 {
        margin-bottom: 10px;
        font-size: 20px;
        font-size: 2rem; }
        @media (max-width: 500px) {
          #produtos .exemplo-produtos .box-produto-right .descricao-produto h4 {
            font-size: 30px;
            font-size: 3rem; } }
      #produtos .exemplo-produtos .box-produto-right .descricao-produto p {
        margin-bottom: 10px;
        color: #909090; }
      #produtos .exemplo-produtos .box-produto-right .descricao-produto ul {
        list-style: none; }
        #produtos .exemplo-produtos .box-produto-right .descricao-produto ul li {
          line-height: 150%; }
          #produtos .exemplo-produtos .box-produto-right .descricao-produto ul li span {
            color: #909090; }
      #produtos .exemplo-produtos .box-produto-right .descricao-produto a {
        align-self: center; }

#para-contato {
  height: 300px;
  text-align: center; }

.para-contato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px; }
  .para-contato h3 {
    font-family: "Allura", cursive;
    font-weight: 300;
    font-size: 50px;
    font-size: 5rem;
    color: #dcab2b; }
    @media (max-width: 500px) {
      .para-contato h3 {
        font-size: 30px;
        font-size: 3rem; } }

#galeria {
  padding-top: 65px; }

.galeria {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .galeria h3 {
    font-family: "Allura", cursive;
    font-size: 50px;
    font-size: 5rem;
    font-weight: 400;
    color: #dcab2b; }
    @media (max-width: 500px) {
      .galeria h3 {
        font-size: 30px;
        font-size: 3rem; } }
  .galeria .setor-galeria {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .galeria .setor-galeria h4 {
      font-size: 20px;
      font-size: 2rem;
      margin: 20px;
      margin-top: 60px; }
      @media (max-width: 500px) {
        .galeria .setor-galeria h4 {
          font-size: 18px;
          font-size: 1.8rem; } }
    .galeria .setor-galeria .galeria-fotos {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-bottom: 20px; }
      .galeria .setor-galeria .galeria-fotos img {
        margin-bottom: 20px;
        margin-left: 20px;
        height: 200px; }
        .galeria .setor-galeria .galeria-fotos img:first-child {
          margin-left: 0; }
        @media (max-width: 621px) {
          .galeria .setor-galeria .galeria-fotos img {
            margin-left: 0; } }

#sobre {
  padding-top: 65px; }

.sobre {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  @media (max-width: 1030px) {
    .sobre {
      flex-direction: column;
      align-items: center; } }
  .sobre img {
    height: 350px;
    padding: 0 20px; }
    @media (max-width: 550px) {
      .sobre img {
        height: 200px; } }
  .sobre .descricao-perfil {
    max-width: 520px;
    flex: 2; }
    @media (max-width: 550px) {
      .sobre .descricao-perfil {
        max-width: 405px; } }
    .sobre .descricao-perfil h3 {
      font-family: "Allura", cursive;
      font-size: 40px;
      font-size: 4rem;
      font-weight: 300;
      color: #dcab2b; }
    .sobre .descricao-perfil h4 {
      font-size: 15px;
      font-size: 1.5rem;
      color: #909090; }
    .sobre .descricao-perfil p {
      font-size: 13px;
      font-size: 1.3rem;
      line-height: 120%;
      margin-top: 10px; }

#contato {
  padding-top: 65px; }
  #contato .contato {
    display: flex;
    justify-content: space-between; }
    #contato .contato .formulario {
      padding: 0 30px; }
      #contato .contato .formulario h3 {
        font-family: "Allura", cursive;
        color: #dcab2b;
        font-weight: 300;
        font-size: 35px;
        font-size: 3.5rem; }
      #contato .contato .formulario h4 {
        font-size: 20px;
        font-size: 2rem;
        margin-top: 10px;
        margin-bottom: 30px; }
      #contato .contato .formulario form {
        display: flex;
        flex-direction: column; }
        #contato .contato .formulario form input {
          margin-bottom: 20px; }

#depoimentos {
  margin-top: 20px; }
  #depoimentos .depoimentos {
    display: flex;
    flex-direction: column;
    text-align: center; }
    #depoimentos .depoimentos .mensagens {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 30px 10px; }
      #depoimentos .depoimentos .mensagens .depoimento {
        max-width: 360px;
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        font-size: 13px;
        font-size: 1.3rem;
        color: #909090; }
        #depoimentos .depoimentos .mensagens .depoimento .img-container {
          border-radius: 50%;
          display: block;
          width: 80px;
          height: 80px;
          overflow: hidden; }
          #depoimentos .depoimentos .mensagens .depoimento .img-container img {
            height: 100%;
            width: 100%; }
        #depoimentos .depoimentos .mensagens .depoimento p {
          margin: 10px 0; }

.direitos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 10px;
  height: 100px;
  color: #909090; }
  .direitos .cliente p {
    margin-top: 5px; }
  .direitos .desenvolvedor p a {
    color: #5f5c5c;
    transition: .2s all; }
    .direitos .desenvolvedor p a:hover {
      background-color: #3c3636;
      color: #fff;
      padding: 5px 5px; }

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .logo img {
    width: 35px;
    height: 50px;
    margin-right: 20px; }
  .logo h1 {
    font-weight: 300; }

.menu {
  padding: 0 10px;
  transition: .2s all; }
  .menu nav ul {
    display: flex;
    flex-wrap: wrap; }
    @media (max-width: 700px) {
      .menu nav ul {
        justify-content: space-around; } }
    .menu nav ul li {
      list-style: none;
      margin-top: 20px;
      margin-left: 40px;
      text-transform: uppercase;
      font-size: 3vw;
      color: #000; }
      @media (max-width: 400px) {
        .menu nav ul li {
          font-size: 12px; } }
      @media (min-width: 500px) {
        .menu nav ul li {
          font-size: 15px; } }
      .menu nav ul li:first-child {
        margin-left: 0; }
      .menu nav ul li a {
        text-decoration: none;
        color: #000; }

.show-menu {
  display: block; }

.hero {
  font-family: "Josefin Sans", sans-serif;
  position: relative;
  top: 300px;
  padding-left: 20px; }
  .hero h2 {
    font-family: "Allura", cursive;
    font-size: 70px;
    font-weight: 300; }
  .hero h3 {
    font-size: 55px;
    font-weight: 400;
    margin-top: 30px; }
  .hero p {
    font-size: 25px;
    font-weight: 400;
    margin-top: 60px;
    margin-left: 50px;
    position: relative; }
    .hero p:before {
      content: "";
      width: 40px;
      height: 4px;
      position: absolute;
      top: 50%;
      left: -50px;
      background-color: #dcab2b;
      transform: translateY(-50%); }

.btn-dourado {
  display: inline-block;
  text-decoration: none;
  color: #000000;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 10px;
  font-size: 1rem;
  border: 1px solid #dcab2b;
  padding: 20px 80px;
  margin-top: 20px;
  transition: all .2s; }
  .btn-dourado:hover {
    color: #ffffff;
    background-color: #dcab2b; }

.linha-dourada {
  width: 70%;
  margin: 40px auto 0 auto;
  border: 1px solid #dcab2b; }
