header
  background-image: url("../img/Mimo_Caixa bala princesa.jpg")
  background-repeat: no-repeat
  background-size: cover
  background-attachment: fixed
  height: 100vh
.header-top
  display: flex
  justify-content: space-between
  padding-top: 20px
  font-family: $josefin       
    

