header
  background-image: url("../img/Mimo-Caixa-bala-princesa.jpg")
  background-repeat: no-repeat
  background-size: cover
  background-attachment: fixed
  height: 100vh
.header-top
  position: fixed
  display: flex
  justify-content: space-around
  flex-wrap: wrap
  padding: 20px 0
  width: 100%
  z-index: 5
  font-family: $josefin
  transition: .2s all
  // height: 50px
.bg-menu
  background-color: #dededed1
  padding: 10px 0


